.D3_example{
  &--title{
    color: #cccccc;
  }
  &--content{
    color: #cccccc;
  }
  #pathEle{
    border-radius: 3px;
  }
  .zoom_to_domin{
    .area {
      fill: steelblue;
      clip-path: url(#clip);
    }
  }
}