.text_html_newTag{
  .dialog{
    width: 400px;
    height: 200px;
    border: none;
    border-radius: 6px;
    margin: 50px auto;
  }
  .click_handle{
    width: 120px;
    height: 42px;
    cursor: pointer;
    background-color: #000000;
    opacity: .3;
    color: #ffffff;
  }
}