*{
    margin: 0;
    padding: 0;
}
.work_space{
    .nav_bar{
        width: 100%;
        height: 36px;
        background: #F0F0F0;
        border-bottom: 1px solid #cccccc;
        .userName{
            height: 100%;
            width: 100px;
            float: right;
            position: relative;
            margin-right: 20px;
            line-height: 36px;
            text-align: center;
            &:hover{
                background: #ffffff;
                cursor: pointer;
                .user_menu{
                    display: block;
                }
            }
            .user_menu{
                display: none;
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                left: -1px;
                width: 100%;
                border: 1px solid #cccccc;
                border-top: none; 
                li:hover{
                    background: #F0F0F0;
                }
            }
        }
    }
    .content{
        display: flex;
        .side_nav{
            width: 200px;
            background: #EEEED1;
            .menu{
                .menu_item{
                    padding: 10px 30px 10px 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a{
                        text-decoration: none;
                    }
                    cursor: pointer;
                }
            }
        }
    }
}